{{#collection}}
  this is a person who's firstName is {{firstName}} and lastName is {{lastName}} and number is {{number}} <button name="deleteButton"> Delete </button>
  

{{/collection}}

{{view personForm}}